.chart {
    width: 80%;
    margin:0 auto;
    max-width: 1000px;
}

.weight-edit {
    width: 80%;
    margin: 60px auto;
    max-width: 1000px;
}

.weight-title {
    width: 80%;
    margin: 60px auto;
    max-width: 1000px;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 50px;
    color: #fff;
    background: -webkit-linear-gradient(to right, rgb(255, 124, 111), #ffc994);
    background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
}

.weight-buttons {
    width: 80%;
    margin: 30px auto;
    max-width: 1000px;
}

.weight-buttons a {
    margin-right: 15px;
}


.meal-title {
    width: 80%;
    margin: 60px auto;
    max-width: 1000px;
    text-align: center;
    font-size: 50px;
    position: relative;
    padding: 0.2em 0.5em;
    background: -webkit-linear-gradient(to right, rgb(255, 124, 111), #ffc994);
    background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
    color: white;
    font-weight: lighter;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
}

.meal-container {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.meal-img {
    width: 30%;
    margin-bottom: 10px;
}

.meal-container {
    flex-wrap: wrap; /* 画面幅に合わせてカラム落ちさせる */
    display: flex;
    justify-content: space-between;
    align-items: top
}

.meal-container .meals {
    width: 30%;  /* お好みの幅で指定 */
    padding:16px;  /* お好みの幅で指定 */
    /* paddingと合わせてbox-sizingも指定 */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box
}

/* 最後のコンテンツを左寄せにする指定 */
.meal-container:after {
    content: "";
    display: block;
    width: 30%;  /* .boxに指定したwidthと同じ幅を指定する */
    height: 0;
    margin-bottom: 10px;
}

 /*編集フォームのcssを書く */

/*体重記録投稿ページのCSS*/


.card-header  {
    font-size: 20px !important;
    font-weight: bold;
    text-align: center;
}

.create-container {
    margin: 100px auto 0 auto;
}


textarea {
    resize: none;
    width: 100%;
}

.create-image {
    margin: 10px
}

.submit-btn {
    text-align: center;
}

.container {
    padding-top: 30px;
}

.inner {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

.buttons {
    padding-top: 30px;
    padding-bottom: 30px;
}

.green-btn {
    padding: 5px 10px;
    color: green;
    border: 1px solid green;
    border-radius: 5px;
    margin: 15px auto 0 auto;
    text-align: center;
}


.green-btn:hover {
    color: white;
    background-color: green;
}

.buttons {
     margin: 15px auto 0 auto;
}